<?xml version="1.0" encoding="UTF-8"?>
<robot name="simple_box">

  <!-- root link, on the ground just below the model origin -->
  <link name="base_footprint">
   <visual>
      <origin xyz="0 0 -1.0" rpy="0 0 0" />
      <geometry>
        <box size="0.001 0.001 0.001" />
      </geometry>
    </visual>
  </link>

  <joint name="base_link_joint" type="fixed">
    <origin xyz="0.0 0 -1.0" rpy="0 0 0" />
    <parent link="base_footprint"/>
    <child link="base_link" />
  </joint>

  <!-- the model -->
  <link name="base_link">
    <inertial>
      <mass value="10" />
      <origin xyz="0 0 -1.0" />
      <inertia ixx="5" ixy="0.0" ixz="0.0"
        iyy="5" iyz="0.0"
        izz="10" /> <!--Ixx = 1/12/m*(y^2+z^2)-->
    </inertial>
    <visual>
      <origin xyz="0 0 -1.0" />
      <geometry>
        <box size="10 10 0.1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 -1.0" />
      <geometry>
        <box size="10 10 0.1" />
      </geometry>
      <surface>
        <friction>
          <ode>
            <mu>0.6</mu>
            <mu2>0.6</mu2>
          </ode>
        </friction>
      </surface>
    </collision>
  </link>

<gazebo reference="base_link">
    <material>simple_terrain</material>
</gazebo>

  <gazebo>
    <plugin name="object_controller" filename="libgazebo_ros_planar_move.so">
      <commandTopic>cmd_vel</commandTopic>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <odometryRate>30.0</odometryRate>
      <robotBaseFrame>base_footprint</robotBaseFrame>
    </plugin>
  </gazebo>
</robot>


