<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
    	<arg name="world_name" value="$(find pbr_gazebo)/world/empty.world"/>
  	</include>

    <param name = "robot_description" command="cat $(find pbr_gazebo)/models/granite_dell/model.urdf"/>
    <node name = "spawn_robot" pkg = "gazebo_ros" type = "spawn_model" args="-file $(find pbr_gazebo)/models/granite_dell/model.urdf -urdf -model granite_dell"/>

</launch>
