<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
    <param name = "robot_description" command="cat $(find pbr_gazebo)/models/prismatic_box/model.urdf"/>
    <node name = "spawn_robot" pkg = "gazebo_ros" type = "spawn_model" args="-file $(find pbr_gazebo)/models/prismatic_box/model.urdf -urdf -model prismatic_box"/>

	<rosparam file="$(find pbr_gazebo)/config/prismatic_box_controller.yaml" command="load"/>

</launch>
